/*0-575px 576-767px 767-991px 992-1199px 1200px + */

@media screen and (max-width: 1280px) {
	html {
		font-size: 8px;
	}
	.container {
		width: 90%;
		padding: 0 1rem;
	}
	
}

/*@media screen and (max-width: 1199px) {
	html {
		font-size: 8px;
	}
}*/

@media screen and (max-width: 991px) {
	html {
		font-size: 6px;
	}
}

@media screen and (max-width: 767px) {
	html {
		font-size: 4px;
	}

	.header__menu {
		width: 40%;
		padding: 5rem;
		display: flex;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.9);
		position: absolute;
		top: -500%;
		right: 0;
	}

	.active {
		top: 0;
	}

	.header__menu a {
		font-size: 8rem;
		line-height: 150%;
	}

	.header__menu a:hover {
		border-bottom: none;
	}

	.header__logo {
		margin-right: 20rem;
	}

	.header__inner {
		justify-content: flex-start;
		position: relative;
	}

	.logo__text {
		font-size: 7rem;
		max-width: 10rem;
		line-height: 100%;
	}

	.header__btn {
		display: none;
	}

	/*		  burger
    =========================*/

    .menu__burger {
    	display:flex;
    	z-index: 5;
    }
}

@media screen and (max-width: 575px) {
	html {
		font-size: 2px;
	}

	.header__menu {
		background-color: #ccc;
	}
}