* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

.btn {
	padding: 1.5rem 3rem;
	background: #3A68B8;
	border-radius: 0.5rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.2rem;
	border: none;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear;
}

.btn:hover {
	background-color: #013081;
}

/*		   header
=========================*/

.header {
	width: 100%;
	padding: 2.1rem 0;
	background-color: #09111F;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
}

.logo__img {
	margin-right: 1.5rem;
}

.logo__text{
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 0.31rem;
	color: #3A68B8;
}

.header__menu {
	margin-right: 10rem;
}

.header__menu a {
	margin-right: 4rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.2rem;
	color: #ffffff;
}

.header__menu a:hover {
	color: #3A68B8; 
	border-bottom: 0.2rem solid #3A68B8;
}

/*		   intro
=========================*/

.intro {
	background: linear-gradient(to bottom, #060E1C, #0B1220);
}

.intro__inner {
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
}

.intro__description {
	max-width: 60.5rem;
	margin-top: 12rem;
}

.intro__suptitle {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 160%;
	text-transform: uppercase;
	color: #3A68B8;
}

.intro__title {
	margin: 1rem 0 4rem 0;
	font-weight: 800;
	font-size: 5.5rem;
	line-height: 130%;
}

.intro__text {
	max-width: 55.8rem;
	margin-bottom: 4.5rem;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 160%;
	opacity: 0.7;
}

.intro__buttons {

}

.intro__img {
	margin-right: -20rem;
}

.btn__video {
	margin-left: 2rem;
}

.intro__partners {
	display: flex;
	justify-content: space-between;
	padding: 9rem 0 10rem 0;
}

.partners__item {
	display: flex;
	align-items: center;
}

.partners__img {
	margin: 0 0.8rem 0 0.8rem;
}

.partners__item:nth-child(1) .partners__text {
	line-height: 100%;
}

.partners__item:nth-child(3) .partners__text {
	color: #5BD0F4;
}

.partners__item:nth-child(4) .partners__text {
	position: relative;
	font-size: 3.5rem;
}

.partners__text {
	font-size: 2.2rem;
	font-weight: 800;
}

.span__orange {
	color: #FB8351;
}

.small-text {
	font-size: 1.5rem;
	font-weight: 300;
}

.span__blue {
	color: #0F52FF;
}

.sup {
	position: absolute;
	bottom: 1.3rem;
	font-size: 4.5rem;
}

/*		   work
=========================*/

.work {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #020A18;
}

.work .container {
	margin-bottom: 17rem;
}

.work__inner {
	display: flex;
	justify-content: space-between;
	padding-top: 13rem;
}

.work__img {
	position: relative;
	left: -12rem;
}

.work__description {
	padding-top: 18.5rem;
}

.work__title {
	margin-bottom: 3rem;
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 130%;
}

.work__text {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 160%;
	opacity: 0.7;
	margin-bottom: 5rem;
}

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 192rem;
}

.slider-line {
	width: 100%;
	display: flex;
	margin-bottom: 3rem;
	/*border: 1px solid red;*/
}

.slider__item {
	padding: 3rem;
	text-align: center;
	max-width: 36.2rem;
	border-radius: 1rem;
	background: linear-gradient(to bottom, #0C1422, #19202D);
}

.slider__item:not(:last-child) {
	margin-right: 3rem;
}

.slider__img {
	height: 9.3rem;
	margin-bottom: 3rem;
}

.slider__item:first-child .slider__img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__item:first-child .slider__img img {
	height: 6.9rem;
}

.slider__title {
	margin-bottom: 3rem;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 125%;
	opacity: 0.7;
}

.slider__text {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 160%;
	opacity: 0.7;
}

.slider__arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20rem;
	height: 10rem;
}

.slider__arrows div {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	border: 1px solid red;
}

.right {

}

/*		  reviews
=========================*/

.reviews {
	padding: 17rem 0;
	background-color: #020A18;
}

.reviews__inner {
	display: flex;
	justify-content: space-between;
}

.reviews__description {
	position: relative;
}

.reviews__title {
	max-width: 54.8rem;
	margin-bottom: 4rem;
	font-weight: 700;
	font-size: 3.8rem;
	line-height: 130%;
}

.reviews__text {
	max-width: 46rem;
	margin-bottom: 2rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 160%;
	opacity: 0.7;
}

.reviews__img {

}

/*		  footer
=========================*/

.footer {
	padding: 7.7rem 0 14.6rem 0;
	background: linear-gradient(to bottom, #060E1C, #09111F);
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

.footer__contacts {
	max-width: 26.1rem;
}

.footer__contacts img {
	margin-right: 1rem;
}

.footer__logo {
	margin-bottom: 1.5rem;
}

.footer__logo .logo__img {
	margin-bottom: 1rem;
}

.footer__logo .logo__text {
	font-size: 1.6rem;
	line-height: 2.2rem;
}

.footer__text {
	font-weight: 450;
	font-size: 1.4rem;
	line-height: 1.8rem;
	opacity: 0.6;
}

.footer__email {
	margin-top: 3.7rem;font-weight: 500;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.footer__phone {
	margin: 2rem 0;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.footer__address {
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.footer__title {
	margin-bottom: 3.2rem;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
}

.footer__email,
.footer__phone,
.footer__address {
	display: flex;
}

.footer ul li {
	margin-bottom: 2rem;
	color: #ffffff;
}

.footer__information,
.footer__menu,
.footer__links,
.footer__about {
	margin-top: 2.2rem;
}

.footer__information a,
.footer__menu a,
.footer__links a {
	color: #fff;
	font-weight: 450;
	font-size: 1.4rem;
	line-height: 1.8rem;
	opacity: 0.6;
}

.footer__information a:hover,
.footer__menu a:hover,
.footer__links a:hover,
.footer__website:hover {
	color: #3A68B8;
}

.footer__about {
	max-width: 26.1rem;
}

.footer__website {
	display: block;
	margin-top: 2.9rem;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: #fff;
}

.footer__social {
	margin-top: 2.1rem;
}

.footer__social img {
	margin-right: 2.5rem;
}

.footer__social a {
	margin-right: 1rem;
	color: #9DA0A5;
	font-size: 2.1rem;
}

.fa-facebook-official:hover {
	color: #3b5998;
	background-color: #000;
}

.fa-instagram:hover {
	color: 	#be34ae; 	
}

.fa-twitter-square:hover {
	color: #55acee;
	background-color: #fff;
}

.fa-linkedin-square:hover {
	color: #0a66c2;
	background-color: #fff;
}

.fa-youtube-play:hover {
	color: #cd201f;
	background-color: #fff;
}

.footer__language {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 4rem;
}

.footer__select {
	outline: none;
	border: none;
	background-color: transparent;
	color: #fff;
	font-weight: 450;
	font-size: 1.4rem;
	line-height: 1.8rem;
}

/*================================*/
/*==============MEDIA=============*/
/*================================*/
