@media screen and (max-width: 1200px) {
	html {
		font-size: 9px;
	}
}

@media screen and (max-width: 1075px) {
	html {
		font-size: 8px;
	}
}

@media screen and (max-width: 991px) {
	html {
		.experience {
			flex-wrap: wrap;
			justify-content: center;
		}

		.experience__item {
			margin-bottom: 2rem;
		}

		.experience .experience__item {
			margin-right: 0;
		}

		.footer__title {
			font-size: 1.4rem;
		}
	}
}

@media screen and (max-width: 767px) {
	html {
		font-size: 7px;
	}

	nav.header__nav {
		display: none;
	}

	div.header__nav {
		width: 40%;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.5);
		transition: all 0.5s;
		transform: translateY(-100%);
	}

	.header__nav--active {
		transform: translateY(0);
	}
	
	div.header__nav ul {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}

	div.header__nav a {
		font-size: 4rem;
	}

	.header__btn {
		display: none;
	}

	.burger-menu {
		display: flex;
	}

	.footer__body {
		flex-wrap: wrap;
	}

	.section-intro {
		padding-top: 0;
		flex-direction: column;
	}

	.intro {
		padding-top: 5rem;
	}

	.intro__img {
		transform: translateX(5%);
	}

	.intro__content {
		width: 100%;
		text-align: center;
	}

	.intro__text{
		padding-right: 0;
		font-size: 2.5rem;
	}

	.intro__buttons {
		justify-content: center;
	}
	
	.title-third {
		font-size: 3rem;
	}

	.partners {
		padding-bottom: 0;
		flex-wrap: wrap;
	}

	.partners__item {
		width: 50%;
		margin-bottom: 4rem;
		display: flex;
		justify-content: center;
		
	}

	.section-works {
		padding-top: 5rem;
		flex-direction: column-reverse;
		
	}

	.works__img{
		flex: 0 0 50%;
		margin-top: 5rem;
	}

	.works__content {
		max-width: 100%;
		padding: 0;
		text-align: center;
	}

	.works__title {
		font-size: 5.5rem;
	}

	.works__text {
		font-size: 2.5rem;
	}

	.experience {
		padding: 8rem 1.5rem 8rem 1.5rem;
	}

	.experience__title {
		font-size: 3rem;
	}

	.experience__text {
		font-size: 2rem;
	}
	
	.clients {
		padding-bottom: 8rem;
		flex-direction: column;
	}

	.clients__content {
		max-width: 100%;
		text-align: center;
	}

	.clients__title {
		font-size: 5.5rem;
	}

	.clients__text {
		padding: 0;
		font-size: 2rem;
	}

	.clients__img {
		margin-top: 5rem;
	}

	.footer__info {
		max-width: 22rem;
	}

	.footer__about {
		max-width: 22rem;
	}

	.social__icon:not(:last-child) {
		margin-right: 2rem;
	}

	.social__select {
		position: relative;
		margin-top: 2rem;
	}
}

@media screen and (max-width: 575px) {
	html {
		font-size: 5px;
	}

}

@media screen and (max-width: 320px) {
	.social__icon:not(:last-child) {
		margin-right: 1rem;
	}

	

}