*, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 118rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.btn {
	padding: 1.5rem 3rem;
	border: none;
	background-color: #3A68B8;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.5s;
}

.btn:hover {
	background-color:#1d407e;
}

.header {
	padding: 2.2rem 0;
	background: linear-gradient(180deg, #080F1C, #08101E);
	&__container {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__container .btn {
		position: absolute;
		right: 0;
	}

	&__logo {
		display: flex;
		align-items: center;
	}

	&__logo_img {
		margin-right: 1.5rem;
	}

	&__logo_text {
		font-size: 2.2rem;
		font-weight: 600;
		color: #3A68B8;
	}

	&__nav {
		display: flex;
		align-items: center;
		margin-left: 8rem;
	}

	&__nav  ul {
		display: flex;
	}

	&__nav  ul li:not(:last-child) {
		margin-right: 4rem;
		color: #fff;
	}

	&__nav a {
		color: #fff;
		font-size: 1.6rem;
		font-weight: 600;
		transition: all 0.5s;
	}

	&__nav a:hover {
		color:#3A68B8;
	}
}

.burger-menu {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 4rem;
	height: 4rem;
	position: absolute;
	right: 2rem;
	z-index: 10;
	cursor: pointer;
}

.burger-menu span {
	display: block;
	width: 100%;
	height: 0.4rem;
	background-color: #fff;
	transition: all 0.5s;
}

.cross span:nth-child(1){
	transform: translateY(1.8rem) rotate(45deg);
}

.cross span:nth-child(2){
	height: 0;
}

.cross span:nth-child(3){
	transform: translateY(-1.8rem) rotate(-45deg);
}

.header__nav--active {
	transform: translateY(0) !important;
}

.section-intro {
	// height: 100vh;
	padding-top: 5rem;
	display: flex;
	overflow: hidden;
	background-color: #020A18;
}

.intro {
	padding-top: 11rem;
	flex: 0 0 100%;

	&__content {
		width: 55%;
	}

	&__text {
		margin: 4rem 0 5rem 0;
		padding-right: 7rem;
		font-weight: 600;
		font-size: 1.8rem;
	}

	&__buttons {
		display: flex;
	}

	&__buttons .btn:first-child {
		margin-right: 2rem;
    }

	&__buttons .btn:last-child {
		display: flex;
		align-items: center;
	}

	&__buttons .btn span {
		display: block;
		margin-right: 1rem;
		width: 2.2rem;
		height: 2.6rem;
		background-color: #fff;
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
	}

	&__img {
		flex: 0 0 50%;
		transform: translateX(-82%);
	}

	&__img img {
		max-width: 100%;
	}
   
}

.title-third {
	margin-bottom: 1rem;
	font-weight: 600;
	font-size: 1.8rem;
	color: #3A68B8;
}

.title-first {
	font-weight: 800;
	font-size: 5.5rem;
}

.sections-partners {
	padding-top: 9rem;
	background-color: #020A18;
}

.partners {
	padding-bottom: 9.9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__item {
		display: flex;
		align-items: center;
	}

	&__img {
		margin-right: 1rem;
	}

	&__img img {
		width: 100%;
		object-fit: cover;
	}

	&__text {
		font-size: 2.5rem;
		font-weight: 600;
		font-family: 'Roboto', sans-serif;
	}

	&__item-1 .partners__text {
		font-family: 'Open Sans', sans-serif;
		line-height: 100%;
	}

	&__item-1 span:first-child {
		color: #FB8351;
	}

	&__item-1 span:last-child {
		font-weight: 100;
		font-size: 2rem;
	}

	&__item-2 .partners__text {
		margin-right: 1rem;
	}

	&__item-3 span:first-child {
		color: #0F52FF;
	}

	&__item-3 span:last-child {
		color: #5BD0F4;
	}

	&__item-4 .partners__text{
		font-size: 3rem;
		position: relative;
	}

	&__item-4 span {
		font-size: 5rem;
		position: absolute;
		top: -100%;
	}
}

.section-works {
	padding-top: 13rem;
	display: flex;
	background-color: #020A18;
}

.works {

	flex: 0 0 50%;

	&__img {
		display: flex;
		justify-content: flex-end;
		flex: 0 0 50%;
	}

	&__img img {
		max-width: 100%;
	}

	&__content {
		max-width: 55rem;
		padding: 17.75rem 0 0 6.8rem;
	}

	&__content .btn  {
		background: #0C1422;
	}

	&__title {
		font-weight: 700;
		font-size: 4rem;
	}

	&__text {
		margin: 3rem 0 5rem 0;
		font-weight: 600;
		font-size: 1.6rem;
		opacity: 0.7;
	}
}

.experience {
	display: flex;
	background-color: #020A18;
	padding: 17rem 1.5rem 23.5rem 1.5rem;

	&__item {
		text-align: center;
		padding: 3rem;
		background: linear-gradient(180deg, #0C1421, #19202D);
		border-radius: 10px;
	}

	&__item:not(:last-child) {
		margin-right: 3rem;
	}

	&__img {
		margin-bottom: 3rem;
	}

	&__title {
		margin-bottom: 3rem;
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 125%;
		opacity: 0.7;
	}

	&__text {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 160%;
		opacity: 0.7;
	}
}

.section-clients {
	background-color: #020A18;
}

.clients {
	padding-bottom: 17rem;
	display: flex;

	&__content {
		max-width: 55rem;
	}

	&__title {
		margin-bottom: 4rem;
		font-weight: 700;
		font-size: 4rem;
		line-height: 130%;
	}

	&__text {
		padding-right: 8rem;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 160%;
		opacity: 0.7;
	}

	&__text:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__img img {
		max-width: 100%;
		object-fit: cover;
	}
}

.footer {
	background-color: #0A111F;

	&__body {
		display: flex;
		justify-content: space-between;
		padding: 7.7rem 0rem 14.6rem 0rem;
	}

	&__info {
		max-width: 28rem;
	}

	&__info a {
		color: #fff;	
	}

	&__info img {
		margin-right: 1rem;
	}

	&__logo {
		margin-bottom: 1rem;
	}

	&__logo_img {
		margin-bottom: 0.8rem;
	}

	&__logo_text {
		font-weight: 600;
		font-size: 1.5rem;
		color: #3A68B8;
	}

	&__text {
		margin-bottom: 3rem;
		font-weight: 450;
		font-size: 1.4rem;
		line-height: 1.8rem;
		opacity: 0.6;
	}

	&__mail {
		display: flex;
		margin-bottom: 2rem;
	}

	&__mail-text {
		font-weight: 500;
		font-size: 1.3rem;
	}

	&__phone {
		display: flex;
		margin-bottom: 2rem;
	}

	&__phone-text {
		font-size: 1.3rem;
	}

	&__adress {
		display: flex;
	}

	&__adress-text {
		font-size: 1.3rem;
	}

	&__title {
		margin-bottom: 3.2rem;
		font-weight: 500;
		font-size: 1.6rem;
		text-transform: uppercase;
	}

	&__information {
		padding-top: 2rem;
	}

	&__ul li:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__ul li a {
		font-weight: 450;
		font-size: 1.4rem;
		opacity: 0.6;
		color: #FFFFFF;
	}

	&__ul li a:hover {
		color: #3A68B8;
	}

	&__menu {
		padding-top: 2rem;
	}

	&__links {
		padding-top: 2rem;
	}

	&__about {
		padding-top: 2rem;
		max-width: 28rem;
		position: relative;
	}

	&__domen {
		display: inline-block;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: #fff;
	}

	&__domen:hover {
		color: #3A68B8;
	}
}

.social__links {
	margin-top: 2rem;
}

.social__icon  {
	font-size: 2rem;
}

.social__icon:not(:last-child) {
	margin-right: 2.4rem;
}

.social__select {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
}

.select__img {
	margin-right: 1rem;
}

.select__language {
	background-color: #0A111F;
	color: #fff;
	font-weight: 450;
	font-size: 1.4rem;	
}

/*======================MEDIA=======================*/

@import "_media";